<section class="login">
  
  
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 ">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm  box-border h-full w-1/2 p-4 border-4 md:rounded-lg">
      <form  class="space-y-6"  action="/register" method="POST">

        <% if(messages.error){ %>
          <span class="text-red-500 text-sm font-bold">
            <%= messages.error%>
          </span>
          <% } %>

            <div>

              <label for="name" class="block text-sm font-bold  text-gray-900">Name

              </label>
              <div class="mt-1">
                <input id="name" name="name" type="name" value="<%= messages.name %>" 
                  class="block border border-black-800  w-full rounded-md border-0 px-3 py-1 text-gray-900 shadow-sm ring-1 ring-inset font-sm  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
            <div>
              <label for="email" class="block text-sm font-bold leading-6 text-gray-900">Username

              </label>
              <div class="mt-1">
                <input id="email" name="email" type="email" value="<%= messages.email %>" required
                  class="block border border-black-800  w-full rounded-md border-0 px-3 py-1 text-gray-900 shadow-sm ring-1 ring-inset font-sm  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <label>
                <input type="radio" name="role" value="customer" checked> Customer
                <input type="radio" name="role" value="admin"> Admin
            </label>
            </div>


            <div>
              <div class="flex items-center justify-between">
                <label for="password"
                  class="block text-sm font-medium leading-6 font-bold text-gray-900">Password</label>
                <div class="text-sm">
                  <a href="#" class="font-bold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                </div>
              </div>
              <div class="mt-1">
                <input id="password" name="password" type="password" autocomplete="current-password"
                  class="block border border-black-800  w-full rounded-md border-0 px-3 py-1 text-gray-900 shadow-sm ring-1 ring-inset font-sm  placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div>
              <button type="submit"
                class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 btn-primary">Register</button>
            </div>
            <div class="flex">
              <a href="/login">
                <p class="text-center mx-auto font-bold">
                  Already have an account??
              </a>

            </div>
      </form>

    </div>

  </div>
  <p class="text-center text-gray-500 text-xs">
    &copy;2024 skand PandeY. All right reserved.
  </p>


</section>